@import "./variables";

.mat-mdc-card {
  flex: 1;
  border: 1px solid $border-color !important;
  border-radius: $border-radius !important;
  box-shadow: $shadow !important;
}

.mdc-button {
  font: 700 16px/24px $main-font !important;
  color: black !important;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 6px;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  min-height: 50px !important;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none !important;
  height: 0 !important;
}

.mat-grid-tile {
  border-radius: 5px;
  box-shadow: $shadow;
}

.mdc-text-field,
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  border-color: $border-color !important;
  border-width: 1px !important;
  box-shadow: $shadow !important;
}
